In [4]:
import pandas as pd

get_url = lambda x: f'ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/186{x}.csv.gz'

get_dataframe = lambda x: pd.read_csv(x, compression='gzip', header=None, sep=',')

list_of_dfs = [get_dataframe(get_url(i)) for i in range(0, 4)]
   
df_weather_period = pd\
    .concat(list_of_dfs)\
    .reset_index(drop=True)

df_weather_period = df_weather_period.iloc[:, :4]
df_weather_period.columns = ['station', 'datetime', 'obs_type', 'obs_value']

df_weather_period

            station  datetime obs_type  obs_value
0       AGE00135039  18600101     PRCP          0
1       ASN00021010  18600101     PRCP          0
2       ASN00023000  18600101     PRCP          0
3       ASN00056002  18600101     PRCP          0
4       ASN00058063  18600101     PRCP          0
...             ...       ...      ...        ...
126108  USC00053010  18631231     PRCP          0
126109  USC00064757  18631231     PRCP          0
126110  USC00144559  18631231     PRCP          0
126111  USC00189674  18631231     PRCP          0
126112  USC00361920  18631231     PRCP        127

[126113 rows x 4 columns]